<h1 class="event-header"> CPU Details: </h1>
<h5 class="event-header2"> <%= link_to @pcs.name.upcase, pcs_path(@pcs) %> | <%= link_to @ram.name.upcase, rams_path(@ram) %> | <%= link_to @graphics_card.model, graphics_cards_path(@graphics_card) %> | <%= link_to @tower.name, towers_path(@tower) %> </h5>

<br>
</br>

<h2> Brand: <%= @cpu.brand %>
<p> Name: <%= @cpu.name %> </p>
<p> Description: <%= @cpu.description %> </p>




<img src="<%= @cpu.img_url %>" >


<body class="container1">

</body>
