<h1 class="event-header" > PCs </h1>

<h4 class="event-header2"> <%= link_to @cpu.name, cpus_path(@cpu) %> | <%= link_to @ram.name, rams_path(@ram) %> | <%= link_to @graphics_card.model, graphics_cards_path(@graphics_card) %> | <%= link_to @tower.name, towers_path(@tower) %> </h4>
<h5 class="event-header3"> <%= link_to "Create A PC", new_pc_path %> </h5>
<br>
</br>

<% @pc.each do |pc| %>
  <br>
    <%= link_to pc.name, pc %> 
  </br>  
<% end %>

