
<h1 class="event-header" > PCs </h1>



<iframe class='center' width="911" height="455"
src="https://www.youtube.com/embed/npGL2-pRXlU?autoplay=1&mute=1">
</iframe>




<br></br>
<br></br>
<br></br>
<br></br>
<br></br>


<h4 class="event-header2"> <%= link_to @cpu.name.upcase, cpus_path(@cpu) %> | <%= link_to @ram.name.upcase, rams_path(@ram) %> | <%= link_to @graphics_card.model, graphics_cards_path(@graphics_card) %> | <%= link_to @tower.name, towers_path(@tower) %> </h4>


<h5 class="event-header3"> <%= link_to "Create A PC", new_pc_path %> </h5>


<% @pc.each do |pc| %>
  <br>
    <%= link_to pc.name, pc %> 
  </br>  
<% end %>


<body class="container">


</body>


