<h1 class="event-header" > Graphics Cards </h1>
<h5 class="event-header2"> <%= link_to @cpu.name.upcase, cpus_path(@cpu) %> | <%= link_to @ram.name.upcase, rams_path(@ram) %> | <%= link_to @pc.name.upcase, pc_path(@pc) %> | <%= link_to @tower.name, towers_path(@tower) %> </h5>




<br>
</br>



  <% @graphics_cards.each do |graphics_card| %>
    <ul><%= link_to graphics_card.brand, graphics_card %> <%= link_to graphics_card.model, graphics_card %> </ul><br>
  <% end %>

<body class="container3">

</body>