<h1 class="event-header"> Graphics Card Details:</h1>
<h5 class="event-header2"> <%= link_to @cpu.name, cpus_path(@cpu) %> | <%= link_to @ram.name, rams_path(@ram) %> | <%= link_to @pc.name, pc_path(@pc) %> | <%= link_to @tower.name, towers_path(@tower) %> </h5>


    <p>Brand: <%= @graphics_card.brand %></p>
    <p>Model: <%= @graphics_card.model %></p>
    <p> Description: <%= @graphics_card.description %> </p>

    <img src="<%= @graphics_card.img_url %>" >